  <div class="banner-sec bg-primary-darken-02 ">
    <h2>Meus Requerimentos</h2>
  </div>

<div class="container mt-2">

  <div class="mb-2">
    <%= link_to "Novo Requerimento", new_requeriment_path, class: "br-button primary mt-3 mt-sm-0 text-decoration-none" %>
  </div>

  <div id="table">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Protocolo</th>
          <th>Titular</th>
          <th>DER</th>
          <th>Serviço</th>
          <th>Status</th>
          <th colspan="2">Ações</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <% @requeriments.each do |requeriment| %>
          <tr>
            <td>
              <%= link_to requeriment_path(requeriment) do %>
                <%= requeriment.protocol %>
              <% end %>
            </td>
            <td><%= requeriment.insured.name %></td>
            <td><%= requeriment.der.strftime('%d/%m/%Y') %></td>
            <td><%= requeriment.servico %></td>
            <td><%= requeriment.status %></td>

            <td>
              <% if policy(requeriment).edit? %>
                <%= link_to edit_requeriment_path(requeriment), class: "text-primary" do %>
                  <i class="fas fa-edit"></i>
                <% end %>
              <% end %>

              <% if policy(requeriment).destroy? %>
                <%= link_to requeriment_path(requeriment), method: :delete, class: "text-danger",data: { confirm: "Deseja confirmar a exclusão?" } do%>
                  <i class="fas fa-trash"></i>
                <% end %>
              <% end %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
