
  <div class="banner-sec bg-primary-darken-02">
    <h2>Novo Requerimento</h2>
  </div>

  <div class="container mt-2">

    <%# Início do menu e formulário de importação do Protocolo do GET %>
    <div id="menu" class="menu m-2" data-aberto="false">
      <span id="menu-trigger" class="menu-trigger">
        <i class="fa fa-plus"></i>
        <i class="fa fa-minus"></i>
      </span>

      <p><strong>Importar campos do Protocolo do GET:</strong> </p>

      <div class="menu-menu form-group">
        <h6>Copia o a primeira página do processo emitido pelo GET e cole abaixo:</h6>

        <%= simple_form_for :query, url: new_requeriment_path, method: "get" do |f| %>
          <div class="mb-2">
          <%= f.input_field :requerimento, as: :text, class: "form-control col-lg-12" %>
          </div>
          <%= f.submit "Importar", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <%# Início Form para criar requerimento @requeriment %>
    <div class="row justify-content-center m-3">
      <div class="col-12 col-sm-10">
        <div class="form-group">
          <%= simple_form_for (@requeriment) do |f| %>

              <div class="row justify-content-between">
                <div class="mb-1 col-2">
                  <%= f.label :protocol, label: "Protocolo: ", required: false %>
                  <%= f.input :protocol, class:"form-control", label: false, input_html: { type: "text", value: @protocolo.to_s } %>
                </div>

                <div class="mb-1 col-2">
                  <%= f.label :der, label: "DER: ", required: false %>
                  <%= f.input :der, as: :string, label: false, input_html: { class: "datepicker", value: @der.to_s } %>
                </div>

                <%# Status - falta incluir importação %>
                <div class="mb-1 col-3">
                  <%= f.label :status, label: "Status: ", required: false %>
                  <%= f.input :status, class:"form-control", label: false, input_html: { type: "text", value: @status.to_s } %>
                </div>

                <%# Espécie - falta incluir importação %>
                <div class="mb-1 col-4">
                  <%= f.label :servico, label: "Serviço: ", required: false %>
                  <%= f.input :servico, class:"form-control", label: false, input_html: { type: "text", value: @servico.to_s } %>
                </div>
              </div>

              <div class="row justify-content-between">
                <div class="mb-1 col-8">
                  <%= f.label :name, label: "Nome: ", required: false %>
                  <%= f.input :name, class:"form-control", label: false, input_html: { type: "text", value: @nome.to_s } %>
                </div>

                <div class="mb-1 col-3">
                  <%= f.label :birth_date, label: "Data de Nascimento: ", required: false %>
                  <%= f.input :birth_date, as: :string, label: false, input_html: { class: "datepicker", value: @data_nascimento.to_s } %>
                </div>
              </div>

              <div class="row justify-content-between">
                <div class="mb-1 col-8">
                  <%= f.label :mothers_name, label: "Nome da Mãe: ", required: false %>
                  <%= f.input :mothers_name, class:"form-control", label: false, input_html: { type: "text", value: @nome_mae.to_s } %>
                </div>

                <div class="mb-1 col-3">
                  <%= f.label :cpf, label: "CPF: ", required: false %>
                  <%= f.input :cpf, class:"form-control", label: false, input_html: { type: "text", value: @cpf.to_s } %>
                </div>
              </div>

              <div class="form-actions">
              <%= f.button :submit, "Criar Requerimento", class: "br-button secondary mt-3 mt-sm-0" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
