  <div class="banner-sec bg-primary-darken-02">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h6 class="ml-2">Tarefa de Protocolo: <%= @requeriment.protocol %> </h6>
        </div>
        <div>
          <%= link_to "#", type: "button", class: "br-button inverted mt-3 mt-sm-0 text-decoration-none" do %>
            <i class="fas fa-check"></i>Concluir
          <% end %>
          <%= link_to "#", type: "button", class: "br-button inverted mt-3 mt-sm-0 text-decoration-none" do %>
            <i class="fas fa-exclamation"></i>Exigência
          <% end %>
          <%= link_to "#", type: "button", class: "br-button inverted mt-3 mt-sm-0 text-decoration-none" do %>
            <i class="fas fa-layer-group"></i>Subtarefa
          <% end %>
        </div>
      </div>
    </div>

<div class="container">
  <div class="row mt-2 mb-2 justify-content-around">
    <div class="">
      <%= link_to "Importar Resumo do Benefício", requeriments_path, class: "br-button primary mt-3 mt-sm-0 text-decoration-none" %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">

        <div class="card-header">
          <p class="my-auto"><strong>Detalhes do requerimento</strong></p>
        </div>

        <div class="card-body">
          <ul class="my-auto list-unstyled">
            <li><strong>Serviço: </strong><%= @requeriment.servico %></li>
            <li><strong>Protocolo: </strong><%= @requeriment.protocol %></li>
            <li><strong>DER: </strong><%= @requeriment.der.strftime("%d/%m/%Y") %></li>
            <li><strong>Status: </strong><%= @requeriment.status %></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <div class="card-header">
          <p class="my-auto"><strong> Detalhes do Segurado</strong></p>
        </div>

        <div class="card-body">
          <ul class="my-auto list-unstyled">
            <li><strong>Nome: </strong><%= @requeriment.insured.name %></li>
            <li><strong>CPF: </strong><%= @requeriment.insured.cpf %></li>
            <li><strong>Nome da Mãe: </strong><%= @requeriment.insured.mothers_name %></li>
            <li><strong>Data de nascimento: </strong> <%= @requeriment.insured.birth_date.strftime("%d/%m/%Y") %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mb-4">
      <div class="card">

        <div class="card-header">
          <p class="my-auto"><strong>Detalhes do Benefício</strong></p>
        </div>

        <div class="card-body">
          <ul class="my-auto list-unstyled">

          </ul>
        </div>

      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          <p class="my-auto"><strong> Controle da Meta</strong></p>
        </div>

        <div class="card-body">
          <ul class="my-auto list-unstyled">

          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
