  <div class="banner-sec bg-primary-darken-02">
    <h3>Novo Período de Trabalho</h3>
  </div>


 <div class="row justify-content-center m-3">
      <div class="col-12 col-sm-10">
        <div class="form-group">
          <%= simple_form_for (@work_period) do |f| %>

            <div class="row justify-content-between">
                <div class="mb-1 col-4">
                  <%= f.label :start_date, label: "Início do período: ", required: true %>
                  <%= f.input :start_date, as: :string, label: false, input_html: { class: "datepicker", value: "" } %>
                </div>

                <div class="mb-1 col-4">
                  <%= f.label :end_date, label: "Fim do período: ", required: false %>
                  <%= f.input :end_date, as: :string, label: false, hint: "Deixe este campo em branco para período em atividade", input_html: { class: "datepicker"} %>
                </div>

                <div class="mb-1 col-4">
                  <%= f.label :program, label: "Programa: ", required: true %>
                  <%= f.input :program, class:"form-control", label: false, collection: @program_colletcion, input_html: { type: "text"} %>
                </div>
              </div>

              <div class="form-actions">
              <%= f.button :submit, "Criar Período", class: "br-button primary mt-3 mt-sm-0" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
